a:11:{s:7:"partner";s:16:"2088221883506003";s:9:"seller_id";s:16:"2088221883506003";s:3:"key";s:32:"zrudqya6r8kg5mq7e8ovphi8tfpf9n47";s:9:"sign_type";s:3:"MD5";s:13:"input_charset";s:5:"utf-8";s:6:"cacert";s:36:"E:\project\php\online-pay\cacert.pem";s:9:"transport";s:4:"http";s:12:"payment_type";s:1:"1";s:7:"service";s:25:"create_direct_pay_by_user";s:17:"anti_phishing_key";s:0:"";s:15:"exter_invoke_ip";s:0:"";}